@import "../../Assets/mixin.scss";

.home {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr;
    row-gap: 16px;


    .content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        padding: 16px;
    }

    .editor {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 112px 1fr;
        row-gap: 8px;
        transform: perspective(1000px) rotateY(10deg);
        transform-origin: left;
    }
}